._i3uuixy:hover:active {
    border-color: rgb(34, 34, 34) !important;
}

._i3uuixy:active {
    border-color: rgb(34, 34, 34) !important;
}
._i3uuixy {
    display: block !important;
    width: 100% !important;
    background: rgb(255, 255, 255) !important;
    border: 1px solid rgb(176, 176, 176) !important;
    border-radius: 8px !important;
    position: absolute !important;
    z-index: 2 !important;
    margin: 0px !important;
    padding: 0px !important;
    box-shadow: rgb(0 0 0 / 5%) 0px 3px 9px 3px !important;
    list-style: none !important;
    overflow-y: scroll !important;
    max-height: 424px !important;
}

._1gyjybc {
    padding: 0px !important;
}

._16kbejea {
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    padding: 16px 40px 16px 16px !important;
    font-weight: normal !important;
    cursor: pointer !important;
    display: block !important;
    position: relative !important;
    text-align: left !important;
    width: 100% !important;
    overflow-wrap: break-word !important;
    background-color: rgb(242, 242, 242) !important;
}

._hgs47m {
    display: table !important;
    width: 100% !important;
    border-spacing: 0px !important;
}



._18z8fput {
    float: left !important;
    margin-top: -9px !important;
    height: 24px !important;
    margin-right: 16px !important;
}

._10ejfg4u {
    display: table-cell !important;
    width: 100% !important;
    vertical-align: middle !important;
}

._ni9axhe {
    display: table-cell !important;
    vertical-align: middle !important;
}

._1s9o8so5 {
    pointer-events: none !important;
    position: absolute !important;
    top: 0px !important;
    right: 4px !important;
    height: 100% !important;
    transition: opacity 0.25s ease-in-out 0s !important;
    opacity: 1 !important;
    animation-name: keyframe_yti3uf !important;
    animation-timing-function: ease-in-out !important;
    animation-duration: 0.25s !important;
}

._nncr1bm {
    display: table !important;
    position: relative !important;
    height: 100% !important;
}



._1wcpnjd {
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    padding: 16px 40px 16px 16px !important;
    font-weight: normal !important;
    cursor: pointer !important;
    display: block !important;
    position: relative !important;
    text-align: left !important;
    width: 100% !important;
    overflow-wrap: break-word !important;
}

._16kbejea {
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    padding: 16px 40px 16px 16px !important;
    font-weight: normal !important;
    cursor: pointer !important;
    display: block !important;
    position: relative !important;
    text-align: left !important;
    width: 100% !important;
    overflow-wrap: break-word !important;
    background-color: rgb(242, 242, 242) !important;
}

._6h56b0p {
    pointer-events: none !important;
    position: absolute !important;
    top: 0px !important;
    right: 4px !important;
    height: 100% !important;
    opacity: 0 !important;
    transition: opacity 0.25s ease-in-out 0s !important;
}

._1wcpnjd {
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    padding: 16px 40px 16px 16px !important;
    font-weight: normal !important;
    cursor: pointer !important;
    display: block !important;
    position: relative !important;
    text-align: left !important;
    width: 100% !important;
    overflow-wrap: break-word !important;
}


