.wrapper {
    max-width: 650px;
    display: flex;
    margin: 0 auto;
}
.form-login {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    margin: 0 auto !important;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-convenient {
    margin-bottom: 20px;

    label {
        // display: block;
        margin-bottom: 4px;
        color: #878c9f;
        font-weight: 700;
        font-size: 1.6rem;
        margin-left: 10px;
    }
    input {
        outline: none;
        border: 1px solid #e5e7f2;
        background: #f9f9f9;
        // width: 100%;
        border-radius: 4px;
        color: #7d93b2;
        outline: none;
        overflow: hidden;
        z-index: 1;
    }
}
.function {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    .remember-account {
        display: flex;
        align-items: center;
        label {
            margin-left: 8px;
        }
    }
    .forgot-password {
        color: var(--button);
        text-decoration: underline;
        font-weight: 700;
    }
}
.login-social {
    display: flex;
    flex-direction: column;
    .btn-social {
        margin-left: 0 !important;
        width: 100%;
        margin-bottom: 16px;
    }
    .facebook {
        background-color: #1094f4 !important;
    }
    .google {
        background-color: #ff5858 !important;
    }
}
.login-orther-text {
    text-align: center;
}

//basic
.basic {
    width: 650px;
    display: flex;
    margin: 0 auto;
    // padding: 50px 0;
    margin-top: 50px;
}
.form-login {
    width: 100%;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.form-group {
    margin-bottom: 20px;
    .title {
        font-size: 2.5rem;
        text-align: center;
    }
    label {
        display: block;
        margin-bottom: 4px;
        color: #878c9f;
        font-weight: 700;
        font-size: 1.6rem;
    }
    input {
        width: 100% !important;
        outline: none;
        border: 1px solid #e5e7f2;
        background: #f9f9f9;
        padding: 15px 20px;
        border-radius: 4px;
        color: #7d93b2;
        outline: none;
        overflow: hidden;
        z-index: 1;
    }
    select {
        width: 100% !important;
        outline: none;
        border: 1px solid #e5e7f2;
        background: #f9f9f9;
        padding: 15px 5px;
        border-radius: 4px;
        color: #7d93b2;
        outline: none;
        overflow: hidden;
        z-index: 1;
    }
    textarea {
        width: 100% !important;
        height: 100px;
        outline: none;
        border: 1px solid #e5e7f2;
        background: #f9f9f9;
        padding: 15px 20px;
        border-radius: 4px;
        color: #7d93b2;
        outline: none;
        overflow: hidden;
        z-index: 1;
        resize: none;
    }
}
.alert-message {
    color: var(--danger);
    margin: 8px 0;
}
.function {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    .remember-account {
        display: flex;
        align-items: center;
        label {
            margin-left: 8px;
        }
    }
}
.login-social {
    display: flex;
    flex-direction: column;
    .btn-social {
        margin-left: 0 !important;
        width: 100%;
        margin-bottom: 16px;
    }
    .facebook {
        background-color: #1094f4 !important;
    }
    .google {
        background-color: #ff5858 !important;
    }
}
.login-orther-text {
    text-align: center;
}
.link-signin {
    text-decoration: underline;
    font-weight: 700;
    color: var(--button);
}

.forgot-link {
    color: var(--button);
    text-decoration: underline;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
}
.warning {
    background-color: #f8d7da;
    color: #b55429;
    text-align: center;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
}
.img-item {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.success {
    background-color: #d1e7dd;
    color: #06719c;
    text-align: center;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
}
