.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 0px;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--button);
    border: 1px solid transparent;
    user-select: none;
    color: var(--white);
    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
        // background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #FE2C55;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;
    background-color: transparent;

    &:hover {
        border-color: currentColor;
        background-color: transparent;
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.rounded {
    border-radius: 999px;
    border-color: rgba(22, 24, 35, 0.2);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    transition: transform 0.3s cubic-bezier(0.4, 0.14, 0.3, 1);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    min-width: 2rem;
    text-align: center;
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 11px 16px;
    min-width: 140px;
}
