.profile-input {
    margin-bottom: 20px;
    label {
        margin-bottom: 4px;
        color: #878c9f;
        font-weight: 700;
        font-size: 1.6rem;
        display: block;
    }
    input,
    select,
    textarea {
        border: 1px solid #ccc;
        outline: none;
        width: 100%;
        padding: 12px;
        margin-bottom: 4px;

        outline: none;
        border: 1px solid #e5e7f2;
        background: #f9f9f9;
        border-radius: 4px;
        color: #7d93b2;
        &:focus {
            background-color: var(--white);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }
    textarea {
        resize: none;
    }
}
.submit-info {
    float: right;
}
.search-form {
    display: flex !important;
    align-items: center;
    border: 1px solid #bdb7b7;
    border-radius: 4px;
    height: 100%;
}
.icon-search {
}
.input-search {
    border: 1px solid transparent;
    padding: 8px;
    width: 100%;
    outline: none;
    border-radius: 4px;
}

// host item
.wrapper {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 1px solid var(--border-transparent);
    border-radius: 8px;
    margin-bottom: 20px;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
}
.left {
    display: flex !important;
    align-items: center;
}
.avatar {
    width: 90px;
    height: 60px;
    border-radius: 8px;
    margin-right: 12px;
}
.btns {
    display: flex !important;
    flex-direction: column;
}
.btn-new {
    background-color: var(--success);
}
.btn-edit {
    background-color: var(--warning);
}
.btn-remove {
    background-color: var(--danger);
}
.name {
    display: block;
    padding: 4px 0;
}
.locate {
    display: block;
    padding: 4px 0;
}

//modal
body.active-modal {
    overflow: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    // max-width: 600px;
    // min-width: 300px;
    overflow: scroll;
    width: 1000px;
    height: 100%;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
