.facilities-item {
    display: flex;
    align-items: center;
    margin: 8px 0;
    position: relative;
    svg {
        width: 25px;
        height: 25px;
    }
    span {
        position: absolute;
        top: 5px;
        left: 10%;
        margin-left: 10px;
    }
}
