.wrapper-form {
    padding: 12px 0px;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
}
.wrapper-filter {
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--border-grey);
    background: var(--grey-light);
    color: var(--violet-light);
    font-size: 15px;
    margin-bottom: 12px;
    input {
        outline: none;
        border: 1px solid transparent;
        background: var(--grey-light);
        width: 100%;
    }
    select {
        outline: none;
        border: 1px solid transparent;
        background: var(--grey-light);
        width: 100%;
    }
}
.filter {
    margin-bottom: 20px;
    position: relative;

    .filter__input {
        padding: 10px 32px;
        border-radius: 4px;
        width: 100%;
        outline: none;
        border: 1px solid var(--border-grey);
        background: var(--grey-light);
        color: var(--violet-light);
        font-size: 15px;
    }
    .filter__star {
        padding: 0;
        width: 100%;
        .star {
            margin: 5px 0;
            color: var(--yellow);
            label,
            input {
                margin: 5px;
                cursor: pointer;
            }
        }
    }

    .filter__facility {
        .facility__type {
            margin: 10px 0;
            font-weight: 500;
        }
        .filter__facility-grid {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            .filter__facility-choose {
                margin: 4px;
                display: flex;
                align-items: center;
                input {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                }
                label {
                    cursor: pointer;
                    margin: 2px 4px;
                    text-transform: capitalize;
                    line-height: 20px;
                    font-size: 15px;
                }
            }
        }
        .filter__facility-full {
            width: 100%;
        }
        .filter__facility-fullDisplay {
            transition: 0.5s;
        }
        .filter__facility-fullHidden {
            height: 0;
            overflow: hidden;
            transition: 0.5s;
        }
        .filter__facility-expand {
            text-decoration: underline;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .filter__button {
        width: 100%;
        height: 41px;
        line-height: 41px;
        font-weight: 400;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: var(--secondary);
        }
    }
}
.filter__reset {
    display: flex;
    cursor: pointer;
    span {
        margin: 5px;
    }
}

.contain__button-expandFilter {
    display: none;
    z-index: 100;
    margin: 0 10px;
    .button-expandFilter {
        background-color: var(--secondary);
        padding: 10px 20px;
    }
}

// @media screen and (max-width: 850px) {
//     .contain__filter {
//         display: none;
//         position: absolute;
//         z-index: 100;
//         background-color: var(--white);
//         border: 3px solid var(--border-filter-mobile) !important;
//         width: 100% !important;
//     }
//     .contain__button-expandFilter {
//         display: block;
//     }
//     .contain__listHouse {
//         width: 100% !important;
//         padding: 0 10px;
//     }
//     .filter__facility-grid {
//         grid-template-columns: 1fr !important;
//         direction: rtl;

//         .filter__facility-choose {
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             width: 100%;
//             input {
//                 margin: 10px;
//                 width: 20px;
//                 height: 20px;
//             }
//         }
//     }
// }

.displayContain {
    display: block !important;
    height: fit-content !important;
}

.hiddenContain {
    display: none !important;
}

.active {
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.filter__room {
    .filter__room-name {
        font-weight: 500;
        margin: 8px 0;
    }
    .filter__room-number {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .number {
            color: var(--black);
            background-color: var(--white);
            border: 1px solid var(--border-white);
            font-weight: 400;
            cursor: pointer;
            text-align: center;
            outline: none;
            margin-bottom: 4px;
            padding: 7px 0px;
            border-radius: 30px;
            font-size: 12px;
            line-height: 16px;
            margin-left: -4px;

            &:hover {
                border-color: var(--button);
            }
            &.active {
                border: 1px solid var(--button);
                background-color: var(--button);
                color: var(--white);
            }
        }
    }
}

.filter__name {
    margin: 5px 0;
    font-size: 22px;
    font-weight: 600;
}

.filter__star {
    input[type='checkbox'] {
        position: relative;
        cursor: pointer;
        margin: 0 4px;
    }
    input[type='checkbox']:before {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        top: -3px;
        left: -3px;
        background-color: #e9e9e9;
    }
    input[type='checkbox']:checked:before {
        content: '';
        display: block;
        position: absolute;
        width: 22px;
        height: 22px;
        top: -7px;
        left: -5px;
        background-color: white;
        border: 1px solid var(--button);
        padding: 5px;
    }

    input[type='checkbox']:checked:after {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        position: absolute;
        bottom: 2px;
        left: -1px;
        background-color: var(--button);
        border-radius: 100%;
    }
}
