._12nksyy {
    -webkit-box-pack: start !important;
    -webkit-box-align: stretch !important;
    display: flex !important;
    align-items: stretch !important;
    justify-content: flex-start !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 80px !important;
    padding-right: 80px !important;
    max-width: var(--gp-bounded-column-container-max-width, 1280px) !important;
}

.c1yo0219[class][class]::before {
    display: flex;
    content: '';
}

