.img-section {
    height: 512px;
    overflow: hidden;
    .db {
        display: block;
        overflow: hidden;
    }

    .thumbnail-bg {
        width: 100%;
        height: 99%;
        border-radius: 8px;
        object-fit: cover;
        cursor: pointer;
        &:hover {
            filter: saturate(2);
        }
    }
}

.thumbnail {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
    &:hover {
        filter: saturate(2);
    }
}
