.btn-toTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
    background-color: var(--button);
    border: transparent;
    padding: 10px 12px;
    border-radius: 8px;
    svg {
        width: 20px;
        height: 20px;
        color: var(--white) !important;
    }
}
