.wrapper {
    height: 550px;
}
@media screen and (max-width: 1023px) {
    .wrapper {
        height: 100%;
        margin-bottom: 8px;
    }
}
.sidebar-item {
    display: flex;
    align-items: center;
    padding: 20px 24px;
    font-size: 1.6rem;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    color: var(--text-color);

    &.active {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    svg {
        width: 23px;
        height: 23px;
    }
}

.title {
    font-weight: 700;
    margin-left: 10px;
}
