.wrapper {
    background-color: #f7f7f7;
    border-top: 1px solid #dddddd;
    padding: 24px 0px;
}
.footer-item {
    display: flex !important;
    flex-direction: column;
    margin-top: 10px;

    .footer-item__title {
        color: var(--primary);
        font-weight: 700;
    }
    .footer-item__link {
        padding: 8px 0;
        &:hover {
            text-decoration: underline;
            transition: all 0.3 ease-in-out;
        }
    }
}
