.wrapper {
    background: var(--primary);
    height: 80px;
    display: flex !important;
    justify-content: space-between;
    padding: 0 20px !important;
    align-items: center;
    // min-width: 880px;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    img {
        width: 140px;
        height: 30px;
        object-fit: cover;
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 180px;
    height: 43px;
    border-radius: 20px;
    background-color: var(--secondary);
    margin-left: 70px;
    cursor: pointer;

    svg {
        width: 20px;
        height: 20px;
        position: relative;
        color: var(--white);

        &:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: var(--white);
            color: var(--white);
        }
    }

    .search-title {
        font-size: 1.3rem;
        font-weight: 500;
        user-select: none;
        color: var(--white);
    }
}
@media only screen and (max-width: 600px) {
    .logo {
        display: none;
    }
    .search {
        margin-left: 0px;
    }
}

.content {
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    align-items: center;
}

.sign-in {
    background-color: transparent !important;
    margin-right: 20px;

    svg {
        color: var(--button);
        width: 2rem;
        height: 2rem;
    }
}

.owner-register {
}

//user
.user {
    color: var(--white);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 12px;
    position: relative;
    z-index: 99;
    &::before {
        content: '';
        position: absolute;
        bottom: -24px;
        left: 0;
        width: 100%;
        height: 32px;
        background-color: transparent;
    }
    .user-avatar {
        width: 30px;
        height: 30px;
        border-radius: 999px;
        margin-right: 4px;
        object-fit: cover;
        object-position: center;
    }
    // .username {
    // }
    .menu-user {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: var(--border-transparent);
        color: var(--black);
        z-index: 1;
        width: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .menu-item {
            padding-right: 0 !important;
            display: block;
            padding: 12px 20px;
        }
    }
}
.user:hover .menu-user {
    display: block;
}

// mobile right
.btn-bar {
    padding: 4px 8px;
    background-color: var(--button);
    border-radius: 4px;
    outline: none;
    border: 1px solid transparent;
    // display: none;
    svg {
        width: 20px;
        height: 20px;
        color: var(--white);
    }
}
.modal-menu,
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(148, 142, 142, 0.5);
    z-index: 9;
}
.modal-content {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255);
    width: 350px;
    height: 100%;
    // border-radius: 20px;
    overflow: hidden;
    transition: all 0.8s ease;
    z-index: 10;
}
.menu-item {
    user-select: none;
    padding: 20px;
    display: block;

    &:hover {
        background-color: var(--button);
        cursor: pointer;
    }
}
.menu-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    .btn-close {
        background-color: var(--danger);
        display: flex;
    }
}

.cart {
    svg {
        color: var(--button) !important;
        width: 2rem;
        height: 2rem;
    }
}
// @media only screen and (max-width: 992px) {
//     .btn-bar {
//         display: block;
//     }
//     .right{
//         display: none;
//     }
// }
