.wrapper {
    color: var(--primary);
    position: relative;
}
.header {
    justify-content: space-between;
    padding: 20px 0;
}

.action {
    display: flex;
    align-items: center;
    Button {
        background-color: transparent;
        color: var(--primary);
    }
}

.info {
    margin-top: 50px;
}
.info-title {
    padding: 10px 0;
    margin-bottom: 12px;
    h3 {
        font-size: 2.2rem;
    }
    .info-facilities {
        span {
            margin-right: 10px;
        }
    }
}

.desc {
    border-bottom: 1px solid var(--border-transparent);
    padding: 10px 0;
    p {
        font-size: 1.6rem;
    }
}
.protect {
    cursor: pointer;
    font-weight: 700;
    // padding: 10px;
    // border: 1px solid var(--border-transparent);
    border-top: 1px solid var(--border-transparent);
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.introduce {
    line-height: 3rem;
}
.facilities {
    padding: 12px 0;
    .facilities-title {
        color: var(--primary);
    }

    .facilities-more {
        cursor: pointer;
        font-weight: 700;
        padding: 10px;
        border: 1px solid var(--border-transparent);
        border-radius: 8px;
        width: 200px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 79, 79, 0.5);
}
.owner-feedback {
    padding: 20px 0;
}
.regulation-name {
    padding: 8px 0;
}
