.container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 12px;
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
    scroll-behavior: smooth;

    .container__header {
        width: 100%;
        margin-bottom: 50px;
        .header__name {
            display: flex;
            align-items: center;
            width: 100%;
            img {
                width: 50px;
                cursor: pointer;
            }
            span {
                font-size: 25px;
                margin: 0 10px;
            }
        }
        .header__progress-line {
            margin-top: 10px;
            width: 100%;
            height: 8px;
            background-color: rgb(237, 237, 237);
            border-radius: 10px;
            .header__progress-line--active {
                width: 0%;
                height: 100%;
                background-color: rgb(97, 151, 155);
                border-radius: 10px;
                z-index: 100;
                transition: width 1s;
            }
            .value-10 {
                width: 11.1%;
            }
            .value-20 {
                width: 22.2%;
            }
            .value-30 {
                width: 33.3%;
            }
            .value-40 {
                width: 44.4%;
            }
            .value-50 {
                width: 55.5%;
            }
            .value-60 {
                width: 66.6%;
            }
            .value-70 {
                width: 77.7%;
            }
            .value-80 {
                width: 88.8%;
            }
            .value-90 {
                width: 99.9%;
            }
        }
    }
    .center {
        padding: 0 50px;
    }
    .container__review {
        .review__value-name {
            font-size: 30px;
            margin-top: 90px;
            margin-bottom: 30px;
        }
        .review__value-star {
            i {
                color: yellow;
                font-size: 50px;
                cursor: pointer;
            }
        }
    }
    .container__extra-special {
        .extra-special {
            display: flex;
            flex-wrap: wrap;
            margin-right: 50px;
            justify-content: center;
            .extra-special--grid {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;
                width: 180px;
                cursor: pointer;
                .extra-special--rounded {
                    border: 1px solid rgb(233, 228, 228);
                    margin: 10px;
                    height: 110px;
                    width: 110px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        padding: 14px;
                        height: 100px;
                        width: 100px;
                    }
                }
                .active {
                    border: 5px solid grey !important;
                }
                p {
                    font-size: 20px;
                    text-align: center;
                    line-height: 25px;
                }
            }
        }
    }
    .container__description {
        .description {
            border-bottom: 1px solid rgb(200, 190, 190);
            padding: 30px 0;
        }
    }
    .container__rate {
        p {
            font-size: 20px;
            margin: 10px 0;
        }
        i {
            color: yellow;
            font-size: 30px;
            margin-top: 10px;
            margin-bottom: 50px;
            cursor: pointer;
        }
    }
    .container__note {
        textarea {
            font-size: 20px;
            line-height: 30px;
            outline: none;
            border: 1px solid rgb(210, 209, 209);
        }
        textarea:focus {
            outline: none !important;
            border: 1px solid rgb(4, 126, 43);
            box-shadow: 0 0 5px #035d27;
        }
    }
    .option {
        padding: 30px 0;
    }

    .container__button {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 50px;
        .button {
            padding: 15px 0px;
            font-size: 22px;
        }
        .button__left {
            color: rgb(105, 140, 142);
            cursor: pointer;
        }
        .button__next {
            border-radius: 10px;
            background-color: rgb(0, 121, 126);
        }
        .no-drop {
            cursor: no-drop;
        }
    }
}

@media screen and (max-width: 850px) {
    .review__value {
        h1 {
            font-size: 25px !important;
        }
        h2 {
            font-size: 18px !important;
        }
        .review__value-name {
            font-size: 18px !important;
            margin-top: 10px !important;
            margin-bottom: 10px !important;
        }
        .review__value-star {
            i {
                font-size: 40px !important;
            }
        }
    }
    .button {
        padding: 10px !important;
        font-size: 18px !important;
    }
    .label {
        font-size: 18px;
        margin: 0 30px !important;
        cursor: pointer;
    }
    .center {
        padding: 0 10px !important;
    }
}
.title {
    line-height: 35px;
}

input[type='radio'] {
    position: relative;
    cursor: pointer;
    margin-left: 4px;
}
input[type='radio']:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    top: -3px;
    left: -2px;
    background-color: #e9e9e9;
}
input[type='radio']:checked:before {
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    top: -6px;
    left: -5px;
    background-color: white;
    border: 1px solid rgb(27, 114, 104);
    padding: 5px;
}
input[type='radio']:checked:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: 5%;
    left: -10%;
    background-color: rgb(27, 114, 104);
    border-radius: 100%;
}

.label {
    font-size: 18px;
    margin: 0 50px;
    cursor: pointer;
}
.desc {
    width: fit-content;
}
.r {
    border: 1px solid red;
}
