.protect {
    padding: 10px 0;
}
.logo {
    img {
        width: 123px;
    }
}
p {
    font-size: 1.6rem;
}
.protect-more {
    background-color: transparent;
    color: var(--primary);
    font-size: 1.6rem;
    text-decoration: underline;
}
