.info {
}

.item {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 4px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    margin-bottom: 20px;
    .number {
        font-weight: 700;
    }
    svg {
        width: 50px;
        height: 50px;
        color: var(--white);
    }
}
.choose-time {
    outline: none;
    border: 1px solid var(--button);
    padding: 4px 20px;
    margin-bottom: 8px;
    border-radius: 4px;
    margin: 4px;
}

//modal buttons
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(255, 255, 255);
    width: 100%;
    max-width: 1100px;
    max-height: 800px;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    transition: all 0.8s ease;
}
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(148, 142, 142, 0.5);
}

.btn-closoe {
    padding: 4px 20px;
    background-color: var(--danger);
    color: var(--white);
    outline: none;
    border-radius: 4px;
    border: 1px solid transparent;
    float: right;
}
.circle-chart {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.circle-modify {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
