.c1yo0219[class][class]::before {
    display: flex;
    content: '';
}

._le6wlg {
    max-width: none !important;
    padding-left: var(--gp-padding-xlargeAndAbove, 80px) !important;
    padding-right: var(--gp-padding-xlargeAndAbove, 80px) !important;
}

.dir.plmw1e5[class][class] {
    margin-left: auto;
    margin-right: auto;
}

.mq5rv0q[class][class] {
    max-width: var(--gp-section-max-width,var(--maxWidth));
}
.plmw1e5[class][class] {
    height: 100%;
    width: 100%;
}

section {
    display: block;
}

._1nobabx {
    -webkit-box-align: center !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    padding-top: 64px !important;
    padding-bottom: 16px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

._1b5xz5 {
    padding-right: 32px !important;
}

._1ut2f7b {
    font-size: 32px !important;
    line-height: 36px !important;
    font-weight: 600 !important;
}

._14i3z6h {
    color: inherit !important;
    font-size: 1em !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    margin: 0px !important;
    padding: 0px !important;
}

._1b5xz5 {
    padding-right: 32px !important;
}

._1qi0sj8:active {
    color: rgb(0, 0, 0) !important;
    transform: scale(0.92) !important;
}

._e296pg {
    position: relative !important;
    .svgpg {
        display: block;
        fill: none;
        height: 16px;
        width: 16px;
        stroke: currentcolor;
        stroke-width: 3;
        overflow: visible;

    }
}

._1qi0sj8 {
    appearance: none !important;
    display: inline-block !important;
    border-radius: 50% !important;
    border: none !important;
    outline: none !important;
    margin: 0px !important;
    padding: 0px !important;
    color: rgb(34, 34, 34) !important;
    cursor: pointer !important;
    touch-action: manipulation !important;
    position: relative !important;
    background: transparent !important;
    transition: -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s, transform 0.25s ease 0s !important;
}

._1qi0sj8:active::before {
    background: rgb(247, 247, 247) !important;
}

._1qi0sj8:hover::before {
    background: rgb(247, 247, 247) !important;
}

._1qi0sj8::before {
    content: "" !important;
    display: block !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 48px !important;
    height: 48px !important;
    border-radius: 50% !important;
}